<h2>team add</h2>
<ul>
     {{#each userListArray}}
     <li>
         <form method="POST" action="/process-teamAdd">

                    
       <input type="hidden" name="userId" value={{this._id}} />
       <input type="hidden" name="projectId" value={{../projectId}} />
                   
       <br /> 

         

       <h3>{{this.firstName}} {{this.lastName}}</h3>
                    <h4>{{this.job}}</h4>
                    <a href="mailto:{{this.email}}">Email</a>
                    <button>Add To Team</button>

         </form>
     </li>
     {{/each}}

</ul>




{{!-- {{#each userListArray}}
     <li>
         <form method="POST" action="/process-teamAdd">
                    <h3>{{this.firstName}} {{this.lastName}}</h3>
                    <h4>{{this.job}}</h4>
                    <a href="mailto:{{this.email}}">Email</a>
                    <button>Add To Team</button>
         </form>
     </li>
     {{/each}} --}}