<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Markazi+Text" rel="stylesheet">
    <title>{{titleTwo}}</title>
</head>
<body>
    <div class="concernantBodyOne">
        <ul class="nav nav-tabs navigationTotal">
            <li class="nav-item">
                <a class="nav-link navigationTabs" href="/project/{{projectId}}/project">PROJECT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navigationTabs" href="/project/{{projectId}}/team">TEAM</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navigationTabs" href="/project/{{projectId}}/task" >TASKS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navigationTabs" href="/project/{{projectId}}/note">NOTES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navigationTabs" href="/project/{{projectId}}/file">FILES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navigationTabs" href="/profile">YOUR PROFILE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navigationTabs" href="/logout">LOG OUT</a>
            </li>
        </ul>

    {{{body}}}


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src='/javascripts/script.js'></script>
    </div>
</body>
</html>