<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>



<a href="/project/{{projectId}}/project">PROJECT</a>
<a href="/project/{{projectId}}/team">TEAM</a>
<a href="/project/{{projectId}}/task">TASKS</a>
<a href="/project/{{projectId}}/note">NOTES</a>
<a href="/project/{{projectId}}/file">FILES</a>
<a href="/profile">YOUR PROFILE</a>
<a href="/logout">LOG OUT</a>

  {{{body}}}



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='/javascripts/script.js'></script>
</body>
</html>